
 <div class="grid">
    <div class="grid-item details upload resize">
         <div>
            <a href='#'><img class="upload__button" src="/images/favicon-32x32.png"></a>
            <p class="card__category">Upload</p>
            <h2 id="goad" class="card__heading">How do you stack up?</h2>
         </div>
    </div>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/fnvm9m3kwry91.jpg?width=960&crop=smart&auto=webp&s=35887abccaf080718c2f11f657a70f0a503ce873" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">65</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Rate my set up!</h2>
            <p class="username">techmech84</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/z9i8oesu6fm91.jpg?width=4032&format=pjpg&auto=webp&s=dd3416b3e69f18f3ff2e1db659e33752b8c2ddc1" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">21</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Loving my new monitor</h2>
            <p class="username">bingbong222</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/ph4dh325wp191.jpg?width=960&crop=smart&auto=webp&s=02368128f47f3541cd6437dfd9b9105f8ef37c80" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">90</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Games for guys and gals</h2>
            <p class="username">deathlyhollowsfan1</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://external-preview.redd.it/q4eapfgog1rLuxCAwOMmfGNrLzyJs845OP2BjylPrQM.jpg?width=960&crop=smart&auto=webp&s=bc5b6955e2b04f8ca3516b66977dba82df756739" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">12</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Peep my headphone stand</h2>
            <p class="username">ispenttoomuch</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/ygh95j8d950a1.jpg?width=4624&format=pjpg&auto=webp&s=668862386aecbe131ebbf2f4bd73dd683ef52f31" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">69</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>I might love Portal</h2>
            <p class="username">portalfan001</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/emth2ocuf50a1.jpg?width=640&crop=smart&auto=webp&s=0eb0070bdaf3c7f3503ba5c73ef731948ec33cc1" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">34</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Don't forget macros</h2>
            <p class="username">4</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://i.redd.it/myd1vlo4nbj81.jpg" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">35</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Home</h2>
            <p class="username">ikeanerd</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/el7taca2260a1.jpg?width=640&crop=smart&auto=webp&s=fee5690d0d19b97bd5ca75c97d56caef3629aea4" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll"88></p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Jealous yet?</h2>
            <p class="username">dalainos</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://images.ladbible.com/resize?type=webp&quality=70&width=720&fit=pad&dpr=1&url=https://eu-images.contentstack.com/v3/assets/bltbc1876152fcd9f07/blt6f01da7eaf4aebbc/61e59a9fdcdd8929ceaa6110/ps5_scalper.jpg" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">-56</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Wanna buy a PS5?</h2>
            <p class="username">ps5scalper</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/0t0g57p3770a1.jpg?width=640&crop=smart&auto=webp&s=232405bc9bcde06c9578b0c384a176653712dbfb" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">39</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Decisions, decisions</h2>
            <p class="username">toorich</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/wnw2yt4f35h61.jpg?width=960&crop=smart&auto=webp&s=3244ed0c259c8e90704c6a8bd2b9f8da45b82720" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">102</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Only $120k later</h2>
            <p class="username">actuallytoorich</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/2slp6sh9s20a1.jpg?width=4032&format=pjpg&auto=webp&s=dd81802b4996c88e96bac036c83dc6c7960774de" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">6</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Cool tower speakers</h2>
            <p class="username">tallyho</p>
        </div>
    </a>
    <a class="grid-item details" href="#">
        <img class="resize" src="https://preview.redd.it/4w9c5tfuu1x91.jpg?width=960&crop=smart&auto=webp&s=842b8bf00cd1b77daf583c20163765260b91d064" alt="">
        <div class="blog-info">
            <div class="polls">
                <button class="upvote" id="up"></button>
                <p class="vote__count" id="poll">3</p>
                <button class="downvote" id="down"></button> 
            </div>
            <h2>Oldschool newschool</h2>
            <p class="username">howdoyoudofellowkids</p>
        </div>
    </a>

