<div class="login-box">
    <h2>Blog Submission</h2>
    <form>
    <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
    </div>
    <div class="user-box">
        <input type="text" name="" required="">
        <label>Image Url</label>
    </div>
    <div class="user-box">
        <input type="text" name="" required="">
        <label>Title</label>
    </div>
    <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit Blog
    </a>
    </form>
</div>