        <div class="grid">
            <div class="grid-item details upload resize">
            <div>
                <a href='#'><img class="upload__button" src="/images/favicon-32x32.png"></a>
                <p class="card__category">Upload</p>
                <h2 class="card__heading">How do you stack up?</h2>
            </div>
        </div>
        <a class="grid-item details" href="#">
            <img class="resize" src="/testArt/img1.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </a>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img2.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img3.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img4.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img5.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img6.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img7.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img8.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img9.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img10.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img11.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img12.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img13.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img14.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img15.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img16.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img17.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img18.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img19.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img20.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img21.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img22.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img23.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
        <div class="grid-item details">
            <img class="resize" src="/testArt/img24.jpg" alt="">
            <div class="blog-info">
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>
            </div>
        </div>
    </div>