    <div class="grid">
        <a class="grid-item details" href="#">
            <img class="resize" src="/testArt/img1.jpg" alt="">
            <div class="blog-info">
                <div class="polls">
                    <button class="upvote"></button>
                    <p class="vote__count">0</p>
                    <button class="downvote"></button> 
                </div>
                <h2>Blog post title how it looks</h2>
                <p class="username">Username</p>               
            </div>
        </a>
    </div>