@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.grid {
  margin: auto;
  justify-content: center;
  align-content: center;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.resize {
  width: 290px;
  height: auto; 
  float: left;
  border-radius: var(--spacing-l);
  padding: 5px; 
}
.details {
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  top: 0;
  background-color: black;
  border-radius: var(--spacing-l);
  box-sizing: border-box;
}
h2 {
  margin-top: 3px;
  text-align: left;
  color: var(--text-lighter) !important;
}
ul {
  list-style-type: none;
}
.username {
  color: var(--text-light) !important;
}
.blog-info {
  position: absolute;
  bottom: 4px;
  z-index: 4;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.5);
  width: 280px;
  padding: 12px;
  padding-top: 0px;
  border-radius: 0px 0px 15px 15px;
  opacity: 0;
  right: 5px;
}
.grid-item:hover .resize {
  transform: scale(1.05) translateZ(0);
  transition-property: transform;
  transition-duration: .3s;
  z-index: 7;
}
.grid-item:hover .blog-info {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .6s;
}
.grid-item {
  z-index: 0;
  margin-bottom: 10px;
}