.grid {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.resize {
  width: 200px;
  height: auto; 
  float: left;
  border-radius: 15px;
  padding: 5px; 
}